/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Franklin');

/* reset */html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% } body { margin: 0; padding: 0 } ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button { margin: 0; padding: 0 } pre, code, address, caption, th, figcaption { font-size: 1em; font-weight: normal; font-style: normal } fieldset, iframe, img { border: 0 } caption, th { text-align: left } table { border-collapse: collapse; border-spacing: 0 } article, aside, footer, header, nav, main, section, summary, details, hgroup, figure, figcaption { display: block } audio, canvas, video, progress { display: inline-block; vertical-align: baseline } button { background: none; border: 0; box-sizing: content-box; color: inherit; cursor: pointer; font: inherit; line-height: inherit; overflow: visible; vertical-align: inherit } button:disabled { cursor: default } :focus { outline: 3px solid #c1e0fe; outline: 3px solid rgba(131,192,253,0.5); outline-offset: 1px } :focus[data-focus-method="mouse"]:not(input):not(textarea):not(select), :focus[data-focus-method="touch"]:not(input):not(textarea):not(select) { outline: none } ::-moz-focus-inner { border:0; padding:0 } @media print { body, #main, #content { color: #000 } a, a:link, a:visited { color: #000; text-decoration: none } #globalheader, #globalfooter, #directorynav, #tabs, .noprint, .hide { display: none } } html { font-family: "Libre Franklin", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; font-size: 106.25%; quotes: "“" "”" } /* .reset */

.calendar {
	padding: 18px;
}
#month {
	background-color: #78a6ad;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
	color: white;
	background-image:url(month-bg.svg);
	background-position:bottom;
	background-repeat:no-repeat;
	background-size:contain
}
#month svg {
	height: 1em;
	fill:white
}
#month > div:first-of-type:hover, #month > div:last-of-type:hover {
	background-image:url(hover-white.svg);
	color:#78a6ad;
	cursor:pointer
}
#month > div:nth-child(4):hover ::after {
	content: "Now";
}
#month > div:nth-child(4):hover span {
	display: none
}
#month > div:first-of-type:hover svg, #month > div:last-of-type:hover svg {
	fill:#78a6ad
}
#header {
	background-color: #78a6ad;
	color: white;
	text-transform: uppercase
}
#header > div:hover {
	background-image:none;
	cursor:default
}
.flex-container {
	width:100%;
	max-width:750px;
    padding: 0;
    margin-left:auto;
    margin-right:auto;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
}
.flex-container > div {
	font-size: 5vw;
	text-align: center;
	flex: 1 0 0px;
	/*border: 1px solid rgba(187,187,187,1);*/
	border: 1px solid rgba(187,187,187,0);
	margin:-1px 0 0 -1px;
	cursor:default
}
.flex-container:not(#month) > div:not(.closed):not(.nope):hover {
	background-image:url(hover.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:80%;
	cursor:pointer
}
.flex-container > div:after {
  content: "";
  clear: both;
}
.flex-container > div:before {
    content: "";
	display: block;
	padding-top: 100%;
    float: left;
}
.flex-container > div > div {
	margin-top:50%;
	transform:translateY(-50%)
}
.current {
	color:white;
	background-image:url(select.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:80%
}
.previous, .next {
	color:#cacaca
}
.closed {
	background-image:url(strike-black.svg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:60%;
	cursor:default
}
.next.closed, .previous.closed {
	background-image:url(strike-grey.svg)
}

@media screen and (min-width: 791px) {
.flex-container > div {
	font-size: 39.54999923706055px;
}
}
