@charset "UTF-8";
/* reset */
* {
	box-sizing: border-box;
}
blockquote, body, button, dd, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
button, select {
	border: none;
	outline: none;
	background: none;
	font-family: inherit;
}
a, button, input, select, textarea {
	-webkit-tap-highlight-color: transparent;
}
body {
	min-height: 100%;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
}
/* .reset */

#main {
	position:relative
}
.container {
	max-width: 490px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	position:relative
}
.container p {
	color: #777;
	margin-top: 10px;
	line-height: 1.5em;
	text-align: center;
}
#terms p {
	color: #777;
	margin-top: 10px;
	line-height: 1.5em;
	text-align: left
}
.mainlogo {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 100%;
	max-width: 450px;
	text-align: center;
	margin-bottom: 30px;
}
.mainlogo img {
	width: 90%
}
.description {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	color: rgb(128,128,128);
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
}
#donebutton {
	text-decoration: none;
	color: #fff;
	background-color: #007aff;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.container .price{
	font-size: 50px;
	color: rgb(34,34,34);
	margin-bottom: -20px;
}
.price span {
	font-size: 24px;
	vertical-align:super;
	font-weight:600;
}

/* progress indicator stuff */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
main.submitting div.icon {
opacity: 1;
}

main div.icon {
	opacity: 0;
	transform: scale(0.75);
	margin-top: 60px
}
.success {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	pointer-events: none;
	min-height:323px
}
.success .icon .border {
	stroke-dasharray: 251;
	stroke-dashoffset: 62.75;
	transform-origin: 50% 50%;
	transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
	animation: spin 1s linear infinite;
}
section.container {
	transition: opacity 300ms, transform 300ms
}
main.submitting section.container {
	opacity: 0;
	transform: scale(.9)
}	
main.submitting .submitting-message {
  opacity: 1;
}
main .submitting-message {
  opacity: 0;
  margin-top:9px;
  font-size:16px;
  transition:all 250ms
}

a, a:hover {
	text-decoration: none
}

/* .progress indicator stuff */
.button {
	color: #fff;
	background-color: #007aff;
	width: 100%;
	text-align: center;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 20px;
}
.button:active {
	background-color: #006ADE;
}